@import url(https://fonts.googleapis.com/css2?family=Inconsolata:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/*------------------------------------*/
* {
  font-family: Muli;
  color: whitesmoke;
  fill: #E2C08D;
  border-color: #E2C08D;
  background-color: #080808;
  /*21252B*/
}

#menu-lateral span, #menu-lateral a {
  color: #f0d9b9;
}

i, strong, span, div span a {
  color: #E2C08D;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: whitesmoke;
  font-size: 1rem;
  text-decoration: none;
  border: none;
}

span strong a {
  font-size: 14px;
  font-family: Inconsolata;
  color: whitesmoke;
}

button {
  border: none;
}

td {
  padding-left: 12px;
}

#menu {
  margin-top: 32px;
  margin-bottom: 16px;
}

#sessao, #sintese, #atividade-avaliativa {
  border: none;
}

#sticky-container a {
  font-weight: bold;
  margin: -4px;
  color: #f0d9b9;
  opacity: 90%;
  font-size: 15px;
}

#header div li {
  margin-top: 6px;
}
