@import url(https://fonts.googleapis.com/css2?family=Inconsolata:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*----------------------------------*/

* {
  font-family: sans-serif;
  color: whitesmoke;
  fill: #f0d9b9;
  border-color: #e8cba0;
  background-color: #151515;
  /*21252B - #E2C08D*/
}

#menu-lateral span, #menu-lateral a {
  color: #f0d9b9;
}

i, strong, span, div span a {
  color: #f0d9b9;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: whitesmoke;
  font-size: 1rem;
  text-decoration: none;
  border: none;
}

span strong a{
  font-size: .8rem;
  font-family: Inconsolata;
  color: whitesmoke;
}

button {
  border: none;
}

td{
  padding-left: 0.6rem;
}

#menu {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

#sessao, #sintese, #atividade-avaliativa{
  border: none;
}

#sticky-container a {
  font-family: Inconsolata;
  font-weight: bold;
  margin: -0.3rem;
  color: #f0d9b9;
  opacity: 80%;
  font-size: 1rem;
}

#header div li {
  margin-top: 0.3rem;
}
.answers .quiz_comment{
  background-color: #151515;
  background-image: none;
}
